*{
    margin: 0px;
    padding: 0px;
}
/* menu item edit */
.Website-menu{
     background-color: rgb(54, 51, 51);
     display: flex;
     align-items: center;
     justify-content: space-around;
     color: white;
     list-style: none;
 }
.list:hover{
    color: red;
    cursor: pointer;
}
.logo-size:hover{
    cursor: pointer;
    
}
.logo-size{
    width: 100px;
}
.list-item{
    padding: 20px;
    display: flex;
}
.list{
    margin: 10px;
    font-size: 24px;
}
/* main item edit */
.design{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    background-image: url('images/background.png'),linear-gradient(45deg,#000000,#201e1e);
}
.leka{
    color: white;
    
}
.leka1{
    font-size: 45px;
    margin: 7px;
    
}
.btn:hover{
    cursor: pointer;
    color: blue;
}
.btn{
    background-color: red;
    color: white;
    padding: 7px;
    border: 0px;
    border-radius: 2px;
    margin: 7px;

}
.small{
    margin: 7px;
    font-size: 17px;
}
 /* main item edit-01  */

.main01{
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    padding: 20px;
}
.About{
    padding: 10px;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
}
.leka01{
    font-size: 30px;
    margin: 7px;
}
.leka02{
    margin: 7px;
    font-size: 17px;
}
/* main item edit-02 */

.Service{
    font-size: 35px;
    text-align: center;
    margin: 20px;
    color: white;
    padding: 20px;

}
.boxstyle{
    height: 300px;
    width: 230px;
    background-color: #181717;
    padding: 15px;
    color: white;
    box-shadow: 6px 6px 40px gray;
    text-align: center;
}
.img0{
    width: 70px;
}
.space{
    margin: 6px;
}
.btn01{
    background-color: gray;
}
.space1{
    font-size: 25px;
    margin-top: 15px;
}
.box{
    display: flex;
    justify-content: space-around;
}
.back{
    background-image: url('images/background.png'),linear-gradient(45deg,#000000,#201e1e);
    height: 450px;
}